<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>CreateJetting</title>
    </head>

    <body>
        <h2>Jetting creation</h2>

        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            <fieldset>
                <p>
                    <label for="Type">Type:</label>
                    @Html.TextBox("Type", "Jetting")
                    @Html.ValidationMessage("Type")
                </p>
                <p>
                    <label for="Theme">Subject:</label>
                    @Html.TextBox("Theme")
                    @Html.ValidationMessage("Theme", "*")
                </p>
                <p>
                    <label for="StartTime">Date and time:</label>
                    @Html.TextBox("StartTime")
                    @Html.ValidationMessage("StartTime", "*")
                </p>
                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
        }

        <div>@Html.ActionLink("Back to Main", "Index")</div>

    </body>
</html>